<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.prac.ex1.board.dao.BoardReplyDao">
    
    <sql id="boardReplyColumns">
		br_no AS brNo,
		br_content AS brContent,
		br_date AS brDate,
		member_no AS memberNo,
		board_no AS boardNo,
		
		(
			SELECT member.member_name 
			FROM member 
			WHERE member.member_no = board_reply.member_no
		) AS memberName
    </sql>
    
 
	<!-- 댓글 정보 1건 조회  -->
    <select id="selectBoardReply"  parameterType="boardReplyBean" resultType="boardReplyBean">
	    SELECT
	    	<include refid="boardReplyColumns"/>
	    FROM
	    	board_reply
	    WHERE
  			br_no = #{brNo}
	</select>
	
	<!-- 댓글 전체 조회 -->
	<select id="selectBoardReplyList"  parameterType="boardReplyBean" resultType="boardReplyBean">
	    SELECT
	    	<include refid="boardReplyColumns"/>
	    FROM
	    	board_reply
	</select>
	   	
	<!-- 댓글 쓰기 -->
	<insert id="writeBoardReply" parameterType="boardReplyBean">
	INSERT INTO board_reply
	    (	
	    	br_content,
	    	board_no,
	    	member_no
	    )
	    VALUES
	    (
	    	#{brContent},
	    	#{boardNo},
	    	#{memberNo}
	    )
	</insert>
	
	<!-- 게시글 삭제 -->
	<delete id="deleteBoardReply" parameterType="boardReplyBean">
	    DELETE FROM 
	    	board_reply
	    WHERE
	    	br_no = #{brNo}
	</delete>
	
</mapper>